{:name "My App"
 :about "A simple Clojure(script) application"
 :http-port 7000
 :db {:classname    "org.postgresql.Driver" ; must be in classpath
      :subprotocol  "postgresql"
      :subname      "//localhost/app"
      :user         "postgres"
      :password     "postgres"
      :host         "127.0.0.1"
      :port         "5432"
      :dbname       "app"}}
