{:db {:subname      "//localhost/apptest"
      :user         "postgres"
      :password     "postgres"
      :host         "127.0.0.1"
      :port         "5432"
      :dbname       "apptest"
      :test-env     true}
 :http-port 7000} 
      
