{:db {:subname      "//db/apptest"
      :user         "postgres"
      :password     "postgres"
      :host         "db"
      :port         "5432"
      :dbname       "apptest"
      :test-env     true}
 :http-port 7000}
